.form-inventario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
form{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 10px;
    font-size: 17px;
}

form div {
    display: flex;
    flex-direction: column;
}
/* input{
    padding: 5px;
} */
button{
    border-radius: 10px;
    padding: 10px;
}