.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.upper-body div {
    color: white;
}

.reg-vent-lower-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tabla-list-ventas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* background-color: #afaaaa; */
}

.titulo-ventas-registradas {
    display: flex;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    width: 100%;
}

.tabla-ventas-registradas {
    /* display: flex; */
    width: 100%;
    overflow-x: auto;
}

/* HISTORIAL DE ASIGNACIONES DE INVENTARIO  USUARIO INVENTARIO */

.tabla-list-asignaciones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
}

.historial-asignaciones {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    width: 100%;
    overflow-x: auto;
}