.principal-contentBVP{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}
.tabla-VProductos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    /* display: block; */
}
.titulo-VProductos{
    border: 1px solid black;
    padding: 10px;
    background-color: #9BA8AB;

}
.tabla-Productos{
    overflow-x: auto;
    width:100%;
}
.cuerpo-inferior{
    display: flex;
    overflow: auto;
    width:100%;
    justify-content: center;
    /* background-color: #CCD0CF; */
}
.cuerpo-VProductos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: auto;
    margin: 10px;
}
.cuerpo-superior{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px;
}
.btn_añadirP{
    padding: 10px;
    border-radius: 10px;
}

.tabla-Productos button{
    padding: 2px;
}
/* ESTILO PARA EDITAR PRODUCTO */
.principal-content-editP{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* width: 100%; */
    max-width: 300px;
    min-width: 300px;
}
/* .cuerpo-EditProducto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
} */
.titulo-Edit-Producto {
    border: 1px solid black;
    text-align: center;
    width: 100%;
    padding: 10px 30px 10px 30px;
}
.cuerpo-inferior-editP {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #f0f0f0; */
    width: 100%;
}
.form-Edit-Producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.form-Edit-Producto form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 17px;
    margin: 10px 10px 10px 10px;
    text-align: center;
}
.form-Edit-Producto div {
    display:flex;
    flex-direction: column;
}