.AP-main-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 17px;
}
.AP-lower-body{
    display: flex;
    gap: 20px;
    border: 1px solid black;
    background-color: #CCD0CF;
}
.formulario-AP{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.datos-formulario-AP{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
    
}
.titulo-formulario-AP{
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    background-color: #9BA8AB;

}
button{
    padding: 10px;
    border-radius: 10px;
}
/* input{
    padding: 5px;
} */