
.inventario-main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}

.inventario-upper-body{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* margin: 50px; */
    margin: 20px;
    width: 100%;
    gap:20px;
}

.inventario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.producto_invetario{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    flex-direction: column;
    width: 150px;
    gap: 10px;
    background-color: #afaaaa;
}
.datos-producto{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 90%;
    margin-bottom: 20px;
}
.vista-inventario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 40px;

}
.nom_producto{
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    width: 100%;
}
.cantidad_producto{
    text-align: start;
    border: 1px solid black;
    padding: 5px;
    width: 100%;
}
.precio_unitario{
    text-align: start;
    border: 1px solid black;
    padding: 5px;
    width: 100%;
}

button{
    padding: 10px;
    border-radius: 10px;
}