.main-body-inventario{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.movi-inventario{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}
.informacion-inventario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    /* background-color: #CCD0CF; */
}
.titulo-inventario{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #9BA8AB;
    border: 1px solid black;
    padding: 10px;
}
/* .cont-inventario{
    margin: 10px;
} */
.cont-superior{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
.cont-inventario{
    width:100%;
    overflow-x: auto;
}
.cont-enviar{
    display: flex;
    flex-direction: column;
    background-color:#706f6f;
}
.nomb-producto{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    padding: 2px 15px 2px 15px;
}
.cantidad-inventario{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
}
button{
    border-radius: 10px;
    padding: 10px;
}
/* ================================= */
/* Otros */
.sucursal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    border-radius: 10px;
    margin: 40px;
    /* padding: 25px 20px 30px 20px; */
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    border: 2px solid #bbb;
}

.sucursal-nombre {
    background: #b0b0b0;
    color: #fff;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    border-radius: 6px 6px 0 0;
    padding: 12px 0 10px 0;
    margin-bottom: 25px;
    letter-spacing: 1px;
    width :100%;
}

.productos-lista {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
}

.producto-card {
    background: #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.08);
    padding: 18px 22px;
    min-width: 210px;
    max-width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #444;
    margin-bottom: 10px;
}

.producto-nombre {
    background: #b0b0b0;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    width: 100%;
    text-align: center;
    border-radius: 5px 5px 0 0;
    padding: 8px 0 6px 0;
    margin-bottom: 10px;
}

.producto-cantidad, .producto-fecha, .producto-epoca {
    background: #d1d1d1;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
    border-radius: 3px;
    padding: 7px 0;
    font-size: 1em;
    color: #222;
}

.producto-cantidad b {
    color: #1a237e;
}