/* .cuerpo-reporteV{
    display: flex;
    justify-content: center;
} */
.main-body-reportVent{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.content-reporteV {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
}

.encabezado-botones {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.titulo-reporteV {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

.Cantidad-V,
.Total-V,
.Ususarios-R,
.Fecha-RV {
    border: 1px solid black;
    padding: 10px;
}


.datos-reporteV {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.campo-bot_bus {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.lista-ventas {
    /* display: grid;
    justify-content: center;
    overflow-x: auto;
    margin-bottom: 10px;
    width: 100%; */
    overflow-x: auto;
}



/* tr,
td {
    border: 1px solid black;
    text-align: center;
} */

/* td {
    padding: 10px;
} */

button,
.buscar_ventas {
    padding: 10px;
    border-radius: 10px;
}