.modulos-sucursales{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

#cont-sucursal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #afaaaa;
    margin: 20px;
}

.titulo-S {
    border: 1px solid black;
    padding: 10px 30px 10px 30px;
}

.ubicacion-S, .ciudad-S, .estado-S {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

.datos-sucursal{
    display: grid;
    margin: 10px;
    gap: 10px;
}

.botones-S{
    display: flex;
    justify-content: space-evenly;
    gap:5px;
}
.modificar-btn, .eliminar-btn {
    /* border: 1px solid black; */
    padding: 7px;
    color: black;
}

.boton-sucursal{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.anadir-sucursal{
    padding: 10px;
    border-radius: 20px ;
}
/* ESTILO PARA EDITAR SUCURSAL */
.cuerpo-SEdit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* border-radius: 10px; */
}
.titulo-edit-sucursal {
    border: 1px solid black;
    text-align: center;
    width: 100%;
    padding: 10px 30px 10px 30px;
}
.cuerpo-edit-sucursal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    width: 100%;
}
.formulario-edit-sucursal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.formulario-edit-sucursal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 17px;
    margin: 10px 10px 10px 10px;
    text-align: center;
}