th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.tabla-usuarios{
    overflow: auto; 

}
.modulo-usuarios{
    text-align: center;
    background-color:#afaaaa ;
    overflow: auto; 
    margin: 10px;
}
.encabezado-modulo{
    display: flex;
    justify-content: space-evenly;
    margin-bottom:50px;
}
.titulo-modulo{
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}
.button-crearU,.buscar_usuario {
    padding: 10px;
    border-radius: 10px;
}

/* ESTILO PARA EDITAR USUARIOS */
.cuerpo-editar-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.titulo-modulo-edit {
    border: 1px solid black;
    text-align: center;
    width: 100%;
    padding: 10px 30px 10px 30px;
}
.modulo-editar-usuarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    max-width: 300px;
    width: 100%;
}
.form-editar-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.form-editar-usuario form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 17px;
    margin: 10px 10px 10px 10px;
    text-align: center;
}